<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta name="description" content="Start your development with a Dashboard for Node.js.">
<meta name="author" content="Creative Tim">
<title>@ViewData["Title"] | Movies in The House</title>
<!-- Favicon -->
<link href="~/img/theme/netflix.jpg" rel="icon" type="image/png">
<!-- Extra details for Live View on GitHub Pages -->
<!-- Canonical SEO -->
<link rel="canonical" href="https://www.creative-tim.com/live/argon-dashboard-asp-net" />

<partial name="_ExternalScripts" />

<partial name="_ThemeStyles" />



<partial name="_OpenGraph" />
